body {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
#center{
    overflow-y: auto;
    width: 60%;
    float: left;
    margin-left: 2%;
    max-height: 600px;
}
header{
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}
#logo{
    margin-left: 20px;
    padding: 5px 45px 5px 45px;
    float: left;
}
header, #top-list, #left-list, #right-list, #logo {
    border: 1px solid black;
}
#search, #search-button{
    float: right;
    border-radius: 4px;
    margin-top: 25px;
}
#search{
    height: 40px;
    font-size: 16px;
}
#search-button{
    margin-right: 20px;
    height: 45px;
    cursor: pointer;
}
#top-list{
    width: 100%;
    display: inline-block;
    text-align: center;
    border: black solid 1px;
    margin-bottom: 10px;
}
.top-link{
    margin: 5px 30px 5px 30px;
}
a:link{
    text-decoration: none;
}
a{
    color: black;
}
img{
    width: 100%;
}
#left-list {
    float: left;
    width: 18%;
    min-height: 400px;
}
#right-list{
    float: right;
    width: 18%;
    min-height: 400px;
}
