border=1px solid #ccc
fullwidth=100%
body
  max-width 1000px
  width fullwidth
  margin 0 auto

.cart
  height 40px

.table
  border-spacing 10px

.table button:hover
  background-color aqua
  cursor pointer

.search-bar input
  width 80%

.search-bar
  border border
  border-radius 5px
  padding 5px

.table h1
  border border
  padding-left 30px
  padding-right 30px

.item-card
  max-width 200px
  border border
  border-radius 5px
  overflow hidden

.item-details
  padding-bottom 10px
  width fullwidth

.item-card img
  width fullwidth
  height 150px
  object-fit cover

.buy-button
  height 40px
